<div class="panel">  
  <h3>Existing Parking Location Details</h3>  
  <div class="panel-body container-fluid">  
    <div class="row row-lg">  
      <table class="table" style="width:100%;">  
        <thead>  
          <tr>  
            <th class="cellHeader">Location Id</th>  
            <th class="cellHeader">Location Name</th>  
            <th class="cellHeader">Avilable/Total Parking Lots</th> 
            <th class="cellHeader"></th>  
          </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let item of data">  
            <td class="cell">{{item.locId}}</td>  
            <td class="cell">{{item.locationName}}</td>  
            <td class="cell">{{item.availableLotsCount + '/' + item.totalLotsCount}}</td> 
            <td class="cell"> 
              <input type="button" value="Add Entry" (click)="onEntry(item.locId, item.availableLotsCount);" />  
               &nbsp;
              <input type="button" value="Exit Entry" (click)="onExit(item.locId, item.availableLotsCount, item.totalLotsCount);" />  
            </td>  
          </tr>  
        </tbody>  
      </table> 
    </div>  
  </div>  
</div>