<div class="row row-lg">  
    <h4>Existing Parking Location Details</h4>  
    <table class="table">  
     <tr>  
        <td>Location Id</td>  
        <td><input type="text" [(ngModel)]="_model.locId" /></td>  
        </tr>  
      <tr>  
        <td>Location Name</td>  
        <td><input type="text" [(ngModel)]="_model.locationName" /></td>  
      </tr>  
      <tr>  
        <td>Avilable Parking Lots Count</td>  
        <td><input type="text" [(ngModel)]="_model.availableLotsCount" /></td>  
      </tr>  
      <tr>  
        <td>Total Parking Lots Count</td>  
        <td><input type="text" [(ngModel)]="_model.totalLotsCount" readonly /></td>  
      </tr> 
      <tr>  
        <td></td>  
        <td>  
          <input type="button" value="Add Entry" (click)="onEntry(_model.locId)" />  
               
          <input type="button" value="Exit Entry" (click)="onExit(_model.locId)" />  
        </td>  
      </tr>  
    </table>  
  </div>  
